@page
<div class="container">
    <!-- Login Form -->
    <div class="row p-1">
        <div class="col-1">Mobile Number:</div>
        <div class="col-5"><input type="text" id="mobileNumber" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="loginButton" value="Login" />
        </div>
    </div>
</div>
<script src="~/js/login.js"></script>